<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type = "text/css" rel="stylesheet" href="/css/bootstrap.css">
    <title>Add Pr</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('../partials/header')  %> 
    <!-- /HEADER -->

    <div class="container">
        <h1 class="text-secondary">FORM EDIT A PRODUCTS</h1>
        <form method="post" action="/products/editado" class="col-sm-4" >
            <label for="id" class ="form-label"> Id </label>
                <input class="form-control placeholder" value="<%= products.id %>" type="text" id="id" name="id">
            <label for="name" class ="form-label"> Name </label>
                <input class="form-control placeholder" value="<%= products.name%>" type="text" id="name" name="name">
        
            <label for="brand" class ="form-label"> Brand </label>
                <input class="form-control placeholder" value="<%= products.brand%>" type="text" id="brand" name="brand">

            <label for="price" class ="form-label"> Price </label>
                <input class="form-control placeholder" value="<%= products.price%>" type="text" id="price" name="price">

            <label for="description" class ="form-label"> Description </label>
                <input class="form-control placeholder" value="<%= products.description%>" type="text" id="description" name="description">

            <label for="images" class ="form-label" > Image </label>
                <input class="form-control placeholder" id="images" name="images" type="file">
                
            <input class="form-control" type="submit" value="submit">
        </form>
    </div>

    <!-- FOOTER -->
    <%- include('../partials/footer')  %> 
    <!-- /FOOTER -->
</body>
</html>